/*

Convenciones para agregar estilos

1. Posicionamiento (static, absolute, relative, fixed, sticky)
2. Modelo de Caja (margin, border, padding, content)
3. Tipografía (tipos, tamaño de fuente...)
4. Visuales ("Shadow-box", "border-radius", efectos visuales)
5. Otros (reglas CSS y más)

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*Colors*/
  --color-primary-1: #15255b;
  --color-primary-2: #ffffff;
  --color-secondary: #e7ad45;
  --color-complementary: #77d1fc;
  /*Font*/
  --font-1: 'Roboto', sans-serif;
  /*Font-size*/
  --h1-mobile-size: 2.4rem;
  --h2-mobile-size: 2rem; 
  --h3-mobile-size: 1.6rem;
  --h4-mobile-size: 1.6rem;
  --p-mobile-size: 1.4rem;
  /*Font-weight*/
  --fontWeight-bold: bold;
  --fontWeight-normal: normal;
}

html {
  font-size: 62.5%;
  font-family: var(--font-1);
}

header{
  position: relative;
  display: flex;
  justify-content: center;
  padding: 4px 0;
  min-width: 320px;
}
header .logo{
  height: 50px;
}
header .menu, .login, .menu-bar{
  display: none;
}

.hero-container{
  background-image: url(/assets/Students.jpg);
  background-size: cover;
  height: 404px;
}
hero .banner-title{
  text-align: center;
}
.hero-container h1{
  font-size: var(--h1-mobile-size);
  font-weight: var(--fontWeight-bold);
  color: var(--color-secondary);
  text-shadow: 2px 2px 2px var(--color-primary-1);
}
.hero-container h2{
  font-size: var(--h2-mobile-size);
  color: var(--color-primary-2);
  text-shadow: 2px 2px 2px var(--color-primary-1);
}
.hero-container h3{
  font-size: var(--h3-mobile-size);
  color: var(--color-complementary);
  text-shadow: 2px 2px 2px var(--color-primary-1);
}