/*

Convenciones para agregar estilos

1. Posicionamiento (static, absolute, relative, fixed, sticky)
2. Modelo de Caja (margin, border, padding, content)
3. Tipografía (tipos, tamaño de fuente...)
4. Visuales ("Shadow-box", "border-radius", efectos visuales)
5. Otros (reglas CSS y más)

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*Colors*/
  --color-primary-1: #15255b;
  --color-primary-2: #ffffff;
  --color-secondary: #e7ad45;
  --color-complementary: #77d1fc;
  --color-complementary-2: #a3a3a3;  
  /*Font*/
  --font-1: 'Roboto', sans-serif;
  /*Font-size*/
  --h1-mobile-size: 2.4rem;
  --h2-mobile-size: 2rem; 
  --h3-mobile-size: 1.6rem;
  --h4-mobile-size: 1.6rem;
  --p-mobile-size: 1.4rem;
  /*Font-weight*/
  --fontWeight-bold: bold;
  --fontWeight-normal: normal;
}

html {
  font-size: 62.5%;
  font-family: var(--font-1);
}

header{
  position: relative;
  display: flex;
  justify-content: center;
  padding: 4px 0;
  min-width: 320px;
}
header .logo{
  height: 50px;
}
header .menu, .login, .menu-bar{
  display: none;
}

.hero-container{
  background-image: url(/assets/Students.jpg);
  background-size: cover;
  height: 404px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
hero .banner-title{
  text-align: center;
}
.hero-container h1{
  font-size: var(--h1-mobile-size);
  font-weight: var(--fontWeight-bold);
  color: var(--color-secondary);
  text-shadow: 2px 2px 2px var(--color-primary-1);
  padding-top: 8px;
}
.hero-container h2{
  font-size: var(--h2-mobile-size);
  color: var(--color-primary-2);
  text-shadow: 2px 2px 2px var(--color-primary-1);
  padding-top: 8px;
}
.hero-container hr{
  border: none;
  border-top: 3px solid var(--color-secondary);
  border-radius: 3px;
  width: 70%;
  margin: 8px auto;  
}
.hero-container h3{
  font-size: var(--h3-mobile-size);
  color: var(--color-complementary);
  text-shadow: 2px 2px 2px var(--color-primary-1);
}
hero .banner-features{
  text-align: center;
}
hero .banner-features span{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-1);
  opacity: 95%;
  padding: 4px 0;
}
hero .banner-features i{
  color: var(--color-secondary);
  font-size: 2.4rem;
  
}
hero .banner-features p{
  color: var(--color-primary-2);
  font-size: var(--h3-mobile-size);
  font-weight: var(--fontWeight-bold);
}
hero .banner-asesoria{
  background-color: var(--color-secondary);
  padding: 8px 0;
  opacity: 95%;
}
hero .banner-asesoria p{
  color: var(--color-primary-1);
}

.form-container-principle{
  background-color: var(--color-primary-1);
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.form-title{
  text-align: center;
  padding: 16px 0;
}
.form-title h4{
  color: var(--color-primary-2);
  font-size: var(--h3-mobile-size);
  font-weight: var(--fontWeight-bold);
}
.form-container{
  width: 70%;
}
.form-group{
  padding: 8px 0;
}
.form-group input{
  height: auto;
  width: 100%;
  border: none;
  color: var(--color-primary-1);
  font-size: var(--p-mobile-size);
  padding: 8px 8px;
  border-radius: 8px;
  outline: none;
}
.form-group ::placeholder{
  color: var(--color-complementary-2);
}
.form-btn{
  padding: 16px 0;
}
.form-btn input{
  padding: 4px 8px;
  border-radius: 4px;
  border: none;
  background-color: var(--color-secondary);
  color: var(--color-primary-1);
  font-size: var(--p-mobile-size);
  font-weight: var(--fontWeight-bold);
}